@model IEnumerable<DNA_CAPI_MIS.Models.ProjectsList>

@{
    ViewBag.Title = "Import Options";
    Layout = "~/Views/Shared/_Layout_Modal.cshtml";
}
<link href="~/Content/DSDS/dsds.css" rel="stylesheet" type="text/css" />

@*CSS Class desktop is used for overlay*@

<div class="row desktop">
    <div class="col-xs-12">
        <textarea id="bulkOptions" class="form-control" rows="10" placeholder="Type here ..."></textarea>
    </div>
</div>
