@model DNA_CAPI_MIS.Models.Project

@{
    ViewBag.Title = "Copy Project";
    Layout = "~/Views/Shared/_Layout_NoMenu.cshtml";
}

<p>
    Project Copied Successfully.
    @Html.ActionLink("Open Project", "ProjectOverview", "Designer", new { id = Model.ID }, null)
</p>
